body, html{
  padding: 0;
  margin: 0;
  color: #272822;
}

img{
  width: 100%;
}

h1, h2, h3, h4{
	margin-top: 0 !important;
}

nav{
	position: fixed;
	z-index: 100;
}

blockquote{
	border-left: 5px solid #1565C0 !important; 
}

footer{
	background-color: #464646 !important;
}

.all{
  padding: 1.5em;
  background-color: #F5F8FA;
}

.content{
  width: 90%;
  margin-left: 5% !important;
  padding: 10px;
  border-radius: 0px 0px 5px 5px; 
  /* box-shadow: 0px 7px 15px rgba(50,50,50,.6); */

  border: 1px solid #E6ECF0;
  background-color: white;
}

p.tipo{
  color: #66757F;
  text-transform: capitalize;
}

.md ul li{
  list-style: disc;
  margin-left: 25px;
}

.thin{
  font-weight: thin;
}

.condensed-light{
  font-weight: condensed-light;
}

.bold{
  font-weight: bold;
}

.row{
  margin-left: 0;
  margin-right: 0;
}

.section-name{
  color: #66757F;
}

.simple-card{
  background-color: white;
  border-radius: 5px;
  margin-bottom: 1em;
  border: 1px solid #E6ECF0;
}
  .card-image, .card-image img{
    border-radius: 5px 5px 0px 0px;
    height: 260px;
    margin-top: 0;
  }

  .card-image.no-force, .card-image.no-force img{
    height: initial;
  }

  .card-info{
    margin: 0;
    padding: 10px;
  }
    .card-title{
      font-size: 135%;
    }
    .card-desc{
      color: #646464;
    }
    .card-options{
      border-top: 1px solid #E6ECF0;
      margin: 0 !important;
      padding: 10px;
    }
      a.option{ /* Debe usar flexbox para autoajustar el ancho de los elementos */
        color: #4EADC0;
      }
      a.option:hover{
        color: initial;
      }

.grid .col-md-4{
  width: 23.5% !important;
}

#sidenav-overlay{
  z-index: 99 !important;
}

.parallax img{
  z-index: -1;
}

.parallax-container{
  box-shadow: inset 0px -60px 90px rgba(0,0,0,.75) !important;
}

.titulo{
  position: absolute;
  bottom: 0;
  margin: 0;
  text-transform: capitalize;
  padding: 15px;
  padding-top: 30px;
  width: 100%;
  color: white;
}

.cover{
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  height: 85vh;
}

  video{
    position: fixed;
    z-index: -1;
    min-width: 100%;
    min-height: 100%;
    top: 0;
  }

  div.title-div{
    width: 100%;
    min-height: 50vh;
    margin: 15vh auto;
    text-align: center;
    padding: 50px;
    color: black;
    opacity: .85;
  }
    div.title-div h1{
			font-size: 12vh;
    }

    div.title-div h2{
      font-size: 5vh;
    }

#carreras{
  margin-top: 0;
}
  section article div{
          margin-top: 20px;
  }

#noticias{
  background-color: #CADCFF;
}

.little-padding{
  padding: 15px;
}

.padding{
  padding: 30px;
}

.large-padding{
	padding: 50px;
}

/*
@media screen and (max-width: 600px){
  div.title-div{
    width: 100%;
  }
}
*/

@media only screen and (max-width: 650px){
  .all{
    padding: .5em;
  }
  .content{
    padding: 5px;
  }
}