{%extends 'base.html'%}
{% load markdown_deux_tags %}

{% block titulo %}
	<h1 class="titulo">
		{{carrera.nombre}}
	</h1>
{% endblock titulo %}

{% block portada %}
	<img src="{{carrera.imagen.url}}" alt="">
	
{% endblock portada %}

{%block content%}
	<div class="flow-text md">{{carrera.cuerpo|markdown}}</div>

	<div class="modulos padding">
		<h2 class="thin">Modulos</h2>
		{% for m in carrera.modulos.all %}

			<div class="row">
				<p class="thin col-xs-12 flow-text">{{m.nombre}}</p>
			
				{% for sm in m.submodulos.all %}
					
					<article class="col-sm-4">
						<div class="simple-card ">
							<div class="card-image">
								<img src="{{sm.imagen.url}}" alt="">
							</div>
							<div class="card-info">
								<p class="card-title">{{sm.nombre}}</p>
								<p class="card-desc">
									{{sm.get_desc|markdown}}
								</p>
							</div>
						</div>
					</article>

				{% endfor %}		
			</div>

		{% endfor %}
	</div>

{%endblock content%}

{% block scripts %}
	$('.parallax').parallax();
{% endblock scripts %}