{%extends 'base2.html'%}
{% load posts_tags %}

{%block content%}
	
	{% for t in tipos %}
		{%posts_tipo t%}
	{% endfor %}

	<section id="carreras" class="row"> <!--  large-padding col-md-10 col-md-offset-1 box -->
		<h5 class="section-name col col-xs-12">Carreras</h5>
		{% for c in carreras %}

			<article class="col-sm-12 row middle-xs">
				<div class="col-md-6">
	        <img src="{{c.imagen.url}}" alt="">
		      </div>
		      <div class="col-md-6 top-md">
            <h2>{{c.nombre}}</h2>
            <blockquote> 
            	{{c.get_desc}} 
            	<p><a href="{{c.get_absolute_url}}" class="mdl-button mdl-js-button mdl-js-ripple-effect">Detalles</a></p>
            </blockquote>
	      </div>
			</article>

		{% endfor %}
	</section>

{%endblock content%}

{% block scripts %}
{% endblock scripts %}